Repository peteranny/WindHorseNote: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.js": "eslint --fix",
  "*.css": "stylelint --fix"
}

Add creature: 2018-01
  src/models/creatures/2018-01.jpeg
  src/models/creatures/2018-01.png
  src/models/creatures/index.json
Due: prettier --write

Add item: 2021-12
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/models/items/2021-12-horse.png
  src/models/items/2021-12-wind.png
  src/models/items/2021-12.jpeg
  src/models/items/2021-12.png
  src/models/items/index.js
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

Add item/creature 2020-07
  src/models/creatures/2020-07.jpeg
  src/models/creatures/2020-07.png
  src/models/creatures/index.json
  src/models/items/2020-07-active.png
  src/models/items/2020-07-overlay.png
  src/models/items/2020-07.jpeg
  src/models/items/2020-07.png
  src/models/items/index.json
Due: prettier --write

Add creature: 2022-12
  src/models/creatures/2022-12-horse.png
  src/models/creatures/2022-12-wind.png
  src/models/creatures/2022-12.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2022-07
  src/models/creatures/2022-07-horse.png
  src/models/creatures/2022-07-wind.png
  src/models/creatures/2022-07.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2023-01
  src/models/creatures/2023-01-horse.png
  src/models/creatures/2023-01-wind.png
  src/models/creatures/2023-01.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add item/creature: 2022-04
  src/models/creatures/2022-04-horse.png
  src/models/creatures/2022-04-wind.png
  src/models/creatures/2022-04.jpeg
  src/models/creatures/index.json
  src/models/items/2022-04.jpeg
  src/models/items/2022-04.png
  src/models/items/index.json
Due: prettier --write

Add item: 2022-09
  src/models/items/2022-09-horse.png
  src/models/items/2022-09-wind.png
  src/models/items/2022-09.jpeg
  src/models/items/index.json
Due: prettier --write

Add item: 2022-10 + hat
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/models/items/2022-10.jpeg
  src/models/items/2022-10.png
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

Add item: 2020-06
  src/models/items/2020-06.jpeg
  src/models/items/2020-06.png
  src/models/items/index.json
Due: prettier --write

Add item 2020-08
  src/models/creatures/2020-08.jpeg
  src/models/creatures/2020-08.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-11
  src/models/creatures/2017-11.jpeg
  src/models/creatures/2017-11.png
  src/models/creatures/index.json
Due: prettier --write

Add item 2020-09
  src/models/creatures/2020-09.jpeg
  src/models/creatures/2020-09.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-04
  src/models/creatures/2017-04.jpeg
  src/models/creatures/2017-04.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-05
  src/models/creatures/2017-05.jpeg
  src/models/creatures/2017-05.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2023-04
  src/models/creatures/2023-04-horse.png
  src/models/creatures/2023-04-wind.png
  src/models/creatures/2023-04.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2016-07
  src/models/creatures/2016-07.jpeg
  src/models/creatures/2016-07.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2016-08
  src/models/creatures/2016-08.jpeg
  src/models/creatures/2016-08.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-12
  src/models/creatures/2017-12.jpeg
  src/models/creatures/2017-12.png
  src/models/creatures/index.json
Due: prettier --write

Add item/creature: 2016-09 + pillow
  src/components/Slot/styles.css
  src/models/creatures/2016-09.jpeg
  src/models/creatures/2016-09.png
  src/models/creatures/index.json
  src/models/items/2016-09.jpeg
  src/models/items/2016-09.png
  src/models/items/index.json
Due: prettier --write, stylelint --fix

Add item 2020-12
  src/models/items/2020-12.jpeg
  src/models/items/2020-12.png
  src/models/items/index.json
Due: prettier --write

Add creature: 2017-06
  src/models/creatures/2017-06.jpeg
  src/models/creatures/2017-06.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-10
  src/models/creatures/2017-10.jpeg
  src/models/creatures/2017-10.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-07
  src/models/creatures/2017-07.jpeg
  src/models/creatures/2017-07.png
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2022-06
  src/models/creatures/2022-06-horse.png
  src/models/creatures/2022-06-wind.png
  src/models/creatures/2022-06.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add item/creature 2020-10
  src/components/Slot/index.js
  src/models/creatures/2020-10.jpeg
  src/models/creatures/2020-10.png
  src/models/creatures/index.json
  src/models/items/2020-10-active.png
  src/models/items/2020-10.jpeg
  src/models/items/2020-10.png
  src/models/items/index.json
Due: prettier --write, eslint --fix

Add item 2020-11
  src/models/items/2020-11.jpeg
  src/models/items/2020-11.png
  src/models/items/index.json
Due: prettier --write

Add item: 2016-10
  src/models/items/2016-10.jpeg
  src/models/items/2016-10.png
  src/models/items/index.json
Due: prettier --write

Add item 2021-01
  src/models/items/2021-01.jpeg
  src/models/items/2021-01.png
  src/models/items/index.json
Due: prettier --write

Add creature: 2022-05
  src/models/creatures/2022-05-horse.png
  src/models/creatures/2022-05-wind.png
  src/models/creatures/2022-05.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add creature: 2017-03
  src/models/creatures/2017-03.jpeg
  src/models/creatures/2017-03.png
  src/models/creatures/index.json
Due: prettier --write

sing on tapping the protagonists
  src/components/Protagonist/index.js
  src/components/Protagonist/sing.mp3
  src/components/Protagonist/singing.png
  src/components/Protagonist/styles.css
  webpack.config.js
Due: eslint --fix, stylelint --fix

Skip splash if seen final
  src/components/Modal/FinalModal/Splash/index.js
  src/store/final/actions.js
  src/store/final/reducer.js
  src/store/final/selectors.js
  src/store/index.js
Due: eslint --fix

Add creature: 2023-07
  src/models/creatures/2023-07-horse.png
  src/models/creatures/2023-07-wind.png
  src/models/creatures/2023-07.jpeg
  src/models/creatures/index.json
Due: prettier --write

Add creature/item: 2022-08
  src/models/creatures/2022-08-horse.png
  src/models/creatures/2022-08-wind.png
  src/models/creatures/2022-08.jpeg
  src/models/creatures/index.json
  src/models/items/2022-08.jpeg
  src/models/items/2022-08.png
  src/models/items/index.json
Due: prettier --write

github action
  debug.html
  debug.js
Due: eslint --fix

github action
  .github/workflows/deploy.yml
  deploy.sh
Due: none
