Repository peteranny/WindHorseNote: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

EncyclopediaItemModal
  src/components/Modal/EncyclopediaItemModal/Item/index.js
  src/components/Modal/EncyclopediaItemModal/Item/styles.css
  src/components/Modal/EncyclopediaItemModal/index.js
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/index.js
Due: eslint --fix, stylelint --fix

EncyclopediaModal: add favorites
  src/components/Modal/EncyclopediaItemModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/Favorites/index.js
  src/components/Modal/EncyclopediaModal/Item/Favorites/styles.css
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/index.js
  src/utils/resolveSuffixIcon.js
Due: eslint --fix, stylelint --fix

Place creatures(2023-06) and items(cake) according to vector dot-product and dice
  src/hooks/usePlaceCreatures.js
  src/models/creatures/2023-06-horse.png
  src/models/creatures/2023-06-wind.png
  src/models/creatures/index.js
  src/models/creatures/index.json
  src/models/items/index.js
  src/models/items/index.json
  src/utils/dotProduct.js
  src/utils/normalize.js
Due: prettier --write, eslint --fix

Add creature: 2023-05
  src/models/creatures/2023-05-horse.png
  src/models/creatures/2023-05-wind.png
  src/models/creatures/2023-05.jpeg
  src/models/creatures/index.json
Due: prettier --write

Modal: fix safari view max-height
  src/components/Modal/index.js
  src/components/Modal/styles.css
  src/hooks/useSafariViewHeightHack.js
Due: eslint --fix, stylelint --fix

Lawn background image
  src/components/Lawn/lawn.jpeg
  src/components/Lawn/styles.css
Due: stylelint --fix

EncyclopediaModal.Item: add visits
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/styles.css
  src/components/Modal/EncyclopediaModal/index.js
  src/store/creatures/reducer.js
  src/store/creatures/selectors.js
  src/store/index.js
Due: eslint --fix, stylelint --fix

BackpackItemSlotModal + usePush sanitize
  src/components/Modal/BackpackItemSlotModal/index.js
  src/components/Modal/BackpackItemSlotModal/styles.css
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/index.js
  src/components/index.js
  src/hooks/usePush.js
Due: eslint --fix, stylelint --fix

useRefresher
  src/components/index.js
  src/hooks/useRefresher.js
  src/models/constants.js
Due: eslint --fix

Show badge for unread creatures
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/styles.css
  src/hooks/usePlaceCreatures.js
  src/store/creatures/actions.js
  src/store/creatures/reducer.js
  src/store/creatures/selectors.js
Due: eslint --fix, stylelint --fix

Slot + usePlaceCreatures: put the first creature
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/components/index.js
  src/hooks/usePlaceCreatures.js
  src/store/slots/actions.js
  src/store/slots/reducer.js
  src/store/slots/selectors.js
Due: eslint --fix, stylelint --fix

EncyclopediaModal.Item: disabled state
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/styles.css
Due: eslint --fix, stylelint --fix

Slot: add animations
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/store/slots/selectors.js
Due: eslint --fix, stylelint --fix

NotificaitonModal
  src/components/BellCount/index.js
  src/components/Modal/NotificationModal/Item/index.js
  src/components/Modal/NotificationModal/Item/styles.css
  src/components/Modal/NotificationModal/Shelf/index.js
  src/components/Modal/NotificationModal/Shelf/styles.css
  src/components/Modal/NotificationModal/index.js
  src/components/Modal/NotificationModal/styles.css
  src/components/index.js
Due: eslint --fix, stylelint --fix

BackpackItemModal: description + image
  src/components/Modal/BackpackItemSlotModal/index.js
  src/components/Modal/BackpackItemSlotModal/styles.css
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

Add item: 2020-04
  src/models/items/2020-04.jpeg
  src/models/items/2020-04.png
  src/models/items/index.json
Due: prettier --write

NotificaitonModal: auto close on 0 notifications
  src/components/Modal/NotificationModal/index.js
Due: eslint --fix

EncyclopediaItemModal: read creature on open
  src/components/Modal/EncyclopediaItemModal/index.js
  src/store/creatures/actions.js
  src/store/creatures/reducer.js
Due: eslint --fix

EncyclopediaModal creatures: 2023-06
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/styles.css
  src/components/Modal/EncyclopediaModal/Shelf/index.js
  src/components/Modal/EncyclopediaModal/Shelf/styles.css
  src/components/Modal/EncyclopediaModal/index.js
  src/models/creatures/2023-06-horse.png
  src/models/creatures/2023-06-wind.png
  src/models/creatures/index.js
  src/models/creatures/index.json
Due: prettier --write, eslint --fix, stylelint --fix

NotificationModal: pagnination
  src/components/Modal/NotificationModal/index.js
Due: eslint --fix

BackpackModal items: cake + ramda
  package-lock.json
  package.json
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
  src/components/Modal/BackpackModal/Shelf/index.js
  src/components/Modal/BackpackModal/Shelf/styles.css
  src/components/Modal/BackpackModal/index.js
  src/models/items/cake.png
  src/models/items/index.js
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

BackpackModal.Item: add name
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

EncyclopediaItemModal: description + image
  src/components/Modal/EncyclopediaItemModal/Item/index.js
  src/models/creatures/2023-06.jpeg
  src/models/creatures/index.json
Due: prettier --write, eslint --fix

Show unread red dot to encyclopedia button
  src/components/CornerButton/EncyclopediaButton/index.js
  src/components/CornerButton/index.js
  src/components/CornerButton/styles.css
  src/store/creatures/selectors.js
Due: eslint --fix, stylelint --fix

Prevent modal close on content click
  src/components/Modal/index.js
Due: eslint --fix

EncyclopediaModal.Item: add name
  src/components/Modal/EncyclopediaModal/Item/index.js
  src/components/Modal/EncyclopediaModal/Item/styles.css
  src/components/Modal/EncyclopediaModal/index.js
  src/models/creatures/index.json
Due: prettier --write, eslint --fix, stylelint --fix

Removed slots lead to unread bell count
  src/components/BellCount/index.js
  src/components/BellCount/styles.css
  src/hooks/usePlaceCreatures.js
  src/store/index.js
  src/store/notifications/actions.js
  src/store/notifications/reducer.js
  src/store/notifications/selectors.js
Due: eslint --fix, stylelint --fix

Add debug page
  README.md
  dist/debug.html
  dist/debug.js
Due: eslint --fix

Add model update helpers
  change-bells.rb
  change-vec.rb
Due: none

BackpackItemSlotModal: PLACE_ITEM + ramda
  src/components/Modal/BackpackItemSlotModal/index.js
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/models/items/index.json
  src/store/index.js
  src/store/slots/actions.js
  src/store/slots/reducer.js
  src/store/slots/selectors.js
Due: prettier --write, eslint --fix, stylelint --fix

EncyclopediaModal.Item: buy item
  src/components/Modal/BackpackModal/Item/index.js
  src/store/backpack/actions.js
  src/store/backpack/reducer.js
  src/store/bellCount/reducer.js
  src/store/index.js
Due: eslint --fix

BackpackModal: click placed to unplace
  src/components/Modal/BackpackItemSlotModal/index.js
  src/components/Modal/BackpackModal/Item/index.js
  src/store/slots/selectors.js
Due: eslint --fix

BackpackModal.Item: state placed/bought/unbought/disabled
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
  src/models/items/index.json
  src/store/backpack/selectors.js
Due: prettier --write, eslint --fix, stylelint --fix

NotificationModal.Item: click to add bell count
  src/components/BellCount/index.js
  src/components/Modal/NotificationModal/Item/index.js
  src/store/bellCount/reducer.js
  src/store/bellCount/selectors.js
  src/store/index.js
  src/store/notifications/actions.js
  src/store/notifications/reducer.js
Due: eslint --fix

Slot: add next-update to decide whether to place / unplace / no-op
  src/hooks/usePlaceCreatures.js
  src/models/constants.js
  src/store/slots/reducer.js
Due: eslint --fix

BackpackModal: placed style
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
Due: eslint --fix, stylelint --fix

Protagonist: add animation on active slots
  src/components/Protagonist/index.js
  src/components/Protagonist/styles.css
  src/components/Slot/index.js
Due: eslint --fix, stylelint --fix

Add item: 2022-11
  src/components/Slot/styles.css
  src/models/items/2022-11-cup.png
  src/models/items/2022-11.jpeg
  src/models/items/2022-11.png
  src/models/items/index.json
Due: prettier --write, stylelint --fix

Add item: 2020-05
  src/models/items/2020-05.jpeg
  src/models/items/2020-05.png
  src/models/items/index.json
Due: prettier --write

Add item: 2022-01 + foreground type + resolveSuffixIcon
  src/components/Modal/BackpackModal/Item/index.js
  src/components/Modal/BackpackModal/Item/styles.css
  src/components/Slot/index.js
  src/components/Slot/styles.css
  src/models/items/2022-01-horse.png
  src/models/items/2022-01-wind.png
  src/models/items/2022-01.jpeg
  src/models/items/index.json
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.json
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
